body{
    background-image:url("../images/cinema.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:aliceblue;
    padding-left: 20px;
    font-family:Arial, Helvetica, sans-serif;
}
.realisateurs{
    list-style: none;
    color: yellowgreen;
    font-size: 25px;
}
.films{
    list-style-type: upper-latin;
    color: aliceblue;
    font-size: 15px;
}
.acteurs{
    list-style-type: disc;
    color:aliceblue;
    font-size: 15px;
}